@charset "utf-8";

ul,
li,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.todo-list {
    margin: 0;
    padding: 0;
}

.todo-item {
    &.completed {
        .todo-title {
            text-decoration: line-through;
        }
    }
}
